<div class="card-columns">
<% @current_user.politician_matches.each do |politician| %>
<%# make a link to each politician %>
    <div class="card ">
        <%= image_tag politician.img_url, {class:"card-img-top"}%>
        <div class="card-body text-center">
            <%= link_to politician.full_name, politician_path(politician), class:"btn btn-profile" %></p>
        </div>
    </div>
<% end %>
</div>
<div class="row justify-content-around">
<%= link_to "Edit Profile", edit_user_path(@current_user), class: "btn btn-secondary"%>
<%= button_to "Delete Profile", @current_user, method: :delete, class:"btn btn-danger" %>
</div>