// Place all the styles related to the politicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#card-img img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#card-img img.transparent {
opacity:0;
}

// #cf_onclick {
// cursor:pointer;
// }

@keyframes imagesFadeInOut {
  0% {
  opacity:1;
}

100% {
opacity:0;
}
}

#politician_img{
animation-name: imagesFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate-reverse;
}